@font-face {
  font-family: 'Montserrat', sans-serif;
  src: url(../fonts/static/Montserrat-Regular.ttf);
}

@font-face {
  font-family: 'Montserrat', sans-serif;
  src: url(../fonts/static/Montserrat-Italic.ttf);
  font-weight: italic;
}

@font-face {
  font-family: 'Montserrat', sans-serif;
  src: url(../fonts/static/Montserrat-Bold.ttf);
  font-weight: bold;
}

@font-face {
  font-family: 'Montserrat', sans-serif;
  src: url(../fonts/static/Montserrat-light.ttf);
  font-weight: 100;
}

@font-face {
  font-family: 'Montserrat', sans-serif;
  src: url(../fonts/static/Montserrat-Medium.ttf);
  font-weight: 500;
}

@font-face {
  font-family: 'Montserrat', sans-serif;
  src: url(../fonts/static/Montserrat-Thin.ttf);
  font-weight: thin;
}

body {
  font: 'Montserrat', sans-serif;
}


* {
  padding: 0;
}

.container {
  width: 1140px;
  margin-left: auto;
  margin-right: auto;
}

.hr-tg {
  padding: 0;
  margin-top: 16px;
  margin-bottom: 15px;
  background-color: #FDA3C4;
  border: 1px solid #FDA3C4;
}

/* header-section */

.header-section {
  margin-top: 20px;
}

.header-section__info {
  display: flex;
  align-items: center;
}

.header-section__local {
  display: flex;
  font-size: 12px;
  line-height: 15px;
  align-items: center;
  color: #FDA3C4;
  margin-top: 25px;
}

.header-section__local-link {
  text-decoration: none;
}

.header-section__local-info {
  float: left;
  padding-right: 10px;
}

.header-section__local-title {
  display: inline-block;
  position: relative;
  bottom: 5px;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  display: flex;
  align-items: center;
  color: #FDA3C4;
  padding-right: 14px;
}

.header-section__booriva {
  padding: 0 216px 0 135px;
}

.header-section__icon {
  padding-right: 10px;
}

.button {
  font-size: 18px;
  font-weight: 700;
  line-height: 15px;
  color: #1F1F1F;
  background-color: #fff;
  border: 0;
}

.header-section__like {
  padding-left: 116px;
  margin-top: 10px;

}

.header-section__like a {
  text-decoration: none;
  margin-left: 19px;
}

.header-section__like-shop {
  padding-left: 38px;
}

.header-section__interesting {
  margin-top: 15px;
}

/* Nav section */

.nav-menu {
  margin-top: 27px;
}

.nav-menu__links {
  list-style: none;
  display: inline-block;
  width: 12%;
  box-sizing: border-box;
}

.nav-menu__links a {
  text-decoration: none;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  align-items: center;
  text-transform: uppercase;
  color: black;
  padding: 10px;
}

.nav-menu__links a:active {
  font-style: italic;
  color: #FDA3C4;
}

.nav-menu__links a:hover {
  background-color: #FDA3C4;
  color: #fff;
  font-style: italic;
}

/* main-section */
.main-section {
  display: flex;
}

.main-section__left-image {
  float: left;
  width: 50%;
}

.left-image__top-img {
  position: relative;
}

.top-img__logo {
  position: absolute;
  top: 266px;
  left: 22px;
}

.bottom-img__left {
  position: relative;
}

.niz-logo {
  position: absolute;
  left: 157px;
  top: 159px;
}

.left-image__bottom-img {
  display: flex;
  width: 50%;
}

.bottom-img__right {
  position: relative;
  left: 15px;
}

.verx-logo {
  position: absolute;
  top: 27px;
  left: 139px;
}

.main-section__right-image {
  position: relative;
  margin-left: 15px;
}

.right-image__top {
  display: flex;
}

.platya-logo {
  position: absolute;
  right: 94px;
  left: 15px;
  bottom: 66px;
  top: 174px;
}

.left-image__dresses {
  position: relative;
  margin-left: 15px;
}

.kostyumi-logo {
  position: absolute;
  left: 77px;
  top: 227px;
}

.right-image__bottom {
  position: relative;
}

.xudi-logo {
  position: absolute;
  top: 204px;
  left: 53px;
}

/* New-dress */

.novinki-logo {
  margin-top: 50px;
  padding: 10px;
  position: relative;
}

.novinki-logo__small {
  position: absolute;
  top: 60px;
  left: 7px;
}

.novinki-logo__wave {
  position: absolute;
  top: 65px;
  left: 157px;
}

.new-dress__info {
  margin-top: 29px;
  display: flex;
}

.new-dress__information-img {
  margin-right: 10px;
}

.information-img__info {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  color: #1F1F1F;
  padding: 27px 28px 7px 21px;
  position: relative;
}

.info-price {
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 29px;
  color: #FDA3C4;

}

.info-img__dress {
  display: flex;
  align-items: flex-end;
}